<div data-role="header" data-theme="b">
  <h1>Edit Nodo <%= @nodo.id %></h1>
  <%= link_to 'Back', nodos_path, 'data-icon' => 'back', 'class' => 'ui-btn-left', :target => '_parent' %>
</div>

<%= render 'form_edit' %>