<div data-role="header">
  <h1>WiCity</h1>
  <%= link_to 'Credits', '', 'data-icon' => 'gear', 'class' => 'ui-btn-right' %>
</div>


<div data-role="content" style="position: absolute; top: 50%; width: 100%; margin-top: -5em;">

    <div class="ui-grid-b" style="margin-right: 2em">
        <div class="ui-block-a">

            <a href="intloc" style="text-decoration: none">
                <button class="ui-shadow ui-btn ui-corner-all">
                  Interest Location
                </button>
            </a>

        </div>

        <div class="ui-block-b">
          <div class="button-wrap">
            <button class="ui-shadow ui-btn ui-corner-all">Button</button>
          </div>
        </div>

        <div class="ui-block-c">
          <div class="button-wrap"><button class="ui-shadow ui-btn ui-corner-all">Button</button></div>
        </div>
    </div>

    <div class="ui-grid-b" style="margin-right: 2em">
        <div class="ui-block-a">
          <div class="button-wrap"><button class="ui-shadow ui-btn ui-corner-all">Button</button></div>
        </div>

        <div class="ui-block-b">
          <div class="button-wrap"><button class="ui-shadow ui-btn ui-corner-all">Button</button></div>
        </div>

        <div class="ui-block-c">
          <div class="button-wrap"><button class="ui-shadow ui-btn ui-corner-all">Button</button></div>
        </div>
    </div>

</div>