<div data-role="header">
  <h1>Interest Locations</h1>
  <%= link_to 'Home', root_url, 'data-icon' => 'home', 'class' => 'ui-btn-left', :target => '_parent' %>
</div>


<div data-role="content" style="position: absolute; top: 50%; width: 100%; margin-top: -5em;">

  <div class="ui-grid-b" style="margin-right: 2em">
    <div class="ui-block-a">
      <div class="button-wrap">
        <a href="<%= pharms_path %>" style="text-decoration: none">
          <button class="ui-shadow ui-btn ui-corner-all">
            Pharms
          </button>
        </a>
      </div>
    </div>

    <div class="ui-block-b">
      <div class="button-wrap">
        <button class="ui-shadow ui-btn ui-corner-all">Hospitals & First Aid</button>
      </div>
    </div>

    <div class="ui-block-c">
      <div class="button-wrap"><button class="ui-shadow ui-btn ui-corner-all">Fuel Stations</button></div>
    </div>
  </div>

  <div class="ui-grid-b" style="margin-right: 2em">
    <div class="ui-block-a">
      <div class="button-wrap"><button class="ui-shadow ui-btn ui-corner-all">Restaurants</button></div>
    </div>

    <div class="ui-block-b">
      <div class="button-wrap"><button class="ui-shadow ui-btn ui-corner-all">Hotels</button></div>
    </div>

    <div class="ui-block-c">
      <div class="button-wrap"><button class="ui-shadow ui-btn ui-corner-all">Cinema & Theaters</button></div>
    </div>
  </div>

  <div class="ui-grid-b" style="margin-right: 2em">
    <div class="ui-block-a">
      <div class="button-wrap"><button class="ui-shadow ui-btn ui-corner-all">Schools & Universities</button></div>
    </div>

    <div class="ui-block-b">
      <div class="button-wrap"><button class="ui-shadow ui-btn ui-corner-all">Financial Services & Stores</button></div>
    </div>

    <div class="ui-block-c">
      <div class="button-wrap"><button class="ui-shadow ui-btn ui-corner-all">Parks & Taxi Stations</button></div>
    </div>
  </div>

</div>