<div data-role="header" data-theme="b">
  <h1>Edit Pharm</h1>
  <%= link_to 'Back', pharms_path, 'data-icon' => 'back', 'class' => 'ui-btn-left' %>
  <%= link_to 'Show', @pharm, :target => '_parent', 'data-icon' => 'search', 'class' => 'ui-btn-right'  %>
</div>

<%= render 'form_edit' %>