<div data-role="header" data-theme="b">
  <h1>New School</h1>
  <%= link_to 'Back', schools_path, 'data-icon' => 'back', 'class' => 'ui-btn-left', :target => '_parent' %>
</div>

<%= render 'form_new' %>
