/* 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Title : Default CSS
Author : Kevin Hale
URL : http://particletree.com/examples/dynamiclayouts/css/default.css

Description : Default CSS Stylesheet for Resolution Dependent Layout Demo

Created : November 12, 2005
Modified : November 15, 2005

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/

/* ----- CSS ----- */

body{
text-align:center;
color:#333;
font-family: sans-serif;
margin:30px 0;
background-color: #FBFFC0;
}
p{
font-size:.9em;
line-height:1.3em;
margin:20px auto;
}
#notice p{
text-align:justify !important;
}
#container{
width:700px;
margin:0 auto;
}
#container p{
text-align:right;
}
#navigation{
background-color: #FFA345;
width:100%;
line-height:50px;
color:#fff;
}
#primaryContent{
background-color: #FF6F87;
width:65%;
line-height:250px;
float:right;
color:#fff;
}
#secondaryContent{
background-color: #C5FF8A;
width:35%;
line-height:250px;
float:left;
}
#extraContent{
display:none;
}
#footer{
background-color: #94C6FF;
width:100%;
line-height:50px;
clear:both;
}
a{
font-weight:bold;
color:#000;
cursor: pointer;
}